
@{
    ViewBag.Title = "SingleNews";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Chất lượng dẫn đầu</p>
                    <h1>Tin tức</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- single article section -->
<div class="mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-article-section">
                    <div class="single-article-text">
                        <div class="">
                            <img src="/AssetsClient/img/sua-hat-dieu.jpg"/>
                        </div>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 27 December, 2023</span>
                        </p>
                        <h2>Công dụng của hạt điều</h2>
                        <p>
                            Với những thành phần dinh dưỡng trên thì ăn hạt điều sẽ mang lại rất nhiều lợi ích cho sức khỏe, bao gồm:

                            Ngăn ngừa bệnh tim: vì hạt điều cung cấp nguồn chất béo lành mạnh để cơ thể hấp thu vitamin tan trong dầu như Vitamin A, Vitamin D, Vitamin E, Vitamin K và sản sinh ra các axit béo quan trọng cho sự phát triển của não bộ. Các chất béo từ hạt điều là chất béo không bão hòa đơn và đa tốt cho tim, giúp giảm cholesterol xấu khi tiêu thụ với lượng thích hợp.
                            Tốt cho đôi mắt: hạt điều chứa hàm lượng lutein và zeaxanthin cao, hoạt động giống như chất chống oxy hóa nên khi sử dụng thường xuyên sẽ giúp bảo vệ mắt khỏi những thương tổn nhẹ, đặc biệt đối với người cao tuổi, thậm chí còn giảm nguy cơ đục thủy tinh thể.
                            Tăng cường sức khỏe cho cơ bắp và hệ thần kinh: hạt điều rất giàu magie là chất quan trọng cho sự phát triển của xương khớp, ngoài ra còn giúp duy trì huyết áp, tăng cường hệ miễn dịch, giúp duy trì chức năng thần kinh và giữ cho xương chắc khỏe. Đối với phụ nữ sau mãn kinh, hạt điều có thể đem lại giấc ngủ thoải mái và dễ chịu hơn.
                        </p>
                        @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint soluta, similique quidem fuga vel voluptates amet doloremque corrupti. Perferendis totam voluptates eius error fuga cupiditate dolorum? Adipisci mollitia quod labore aut natus nobis. Rerum perferendis, nobis hic adipisci vel inventore facilis rem illo, tenetur ipsa voluptate dolorem, cupiditate temporibus laudantium quidem recusandae expedita dicta cum eum. Quae laborum repellat a ut, voluptatum ipsa eum. Culpa fugiat minus laborum quia nam!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, praesentium, dicta. Dolorum inventore molestias velit possimus, dolore labore aliquam aperiam architecto quo reprehenderit excepturi ipsum ipsam accusantium nobis ducimus laudantium.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum est aperiam voluptatum id cupiditate quae corporis ex. Molestias modi mollitia neque magni voluptatum, omnis repudiandae aliquam quae veniam error! Eligendi distinctio, ab eius iure atque ducimus id deleniti, vel alias sint similique perspiciatis saepe necessitatibus non eveniet, quo nisi soluta.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt beatae nemo quaerat, doloribus obcaecati odio!</p>*@
                    </div>

                    <div class="comments-list-wrap">
                        <h3 class="comment-count-title">3 Bình luận</h3>
                        <div class="comment-list">
                            <div class="single-comment-body">
                                <div class="comment-user-avater">
                                    <img src="~/AssetsClient/img/avaters/avatar1.png" alt="">
                                </div>
                                <div class="comment-text-body">
                                    <h4>Nguyễn Văn A<span class="comment-date">@DateTime.Now</span> <a href="#">reply</a></h4>
                                    <p>Good</p>
                                </div>
                                <div class="single-comment-body child">
                                    <div class="comment-user-avater">
                                        <img src="~/AssetsClient/img/avaters/avatar3.png" alt="">
                                    </div>
                                    <div class="comment-text-body">
                                        <h4>Lê Hiếu Nghĩa <span class="comment-date">@DateTime.Now</span> <a href="#">reply</a></h4>
                                        <p>Cám ơn.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="single-comment-body">
                                <div class="comment-user-avater">
                                    <img src="~/AssetsClient/img/avaters/avatar2.png" alt="">
                                </div>
                                <div class="comment-text-body">
                                    <h4>Mr. Thiện <span class="comment-date">@DateTime.Now</span> <a href="#">reply</a></h4>
                                    <p>10 Điểm</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="comment-template">
                        <h4>Để lại bình luận</h4>
                        <p>If you have a comment dont feel hesitate to send us your opinion.</p>
                        <form action="index.html">
                            <p>
                                <input type="text" placeholder="Your Name">
                                <input type="email" placeholder="Your Email">
                            </p>
                            </p>
                            <p><textarea name="comment" id="comment" cols="30" rows="10" placeholder="Your Message"></textarea></p>
                            <p><input type="submit" value="Submit"></p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-section">
                    <div class="recent-posts">
                        <h4>Bài đăng gần đây</h4>
                        <ul>
                            <li><a href=@Url.Action("SingleNews", "Home")>You will vainly look for fruit on it in autumn.</a></li>
                            @*<li><a href=@Url.Action("SingleNews", "Home")>A man's worth has its season, like tomato.</a></li>
                            <li><a href=@Url.Action("SingleNews", "Home")>Good thoughts bear good fresh juicy fruit.</a></li>
                            <li><a href=@Url.Action("SingleNews", "Home")>Fall in love with the fresh orange</a></li>
                            <li><a href=@Url.Action("SingleNews", "Home")>Why the berries always look delecious</a></li>*@
                        </ul>
                    </div>
                    <div class="archive-posts">
                        <h4>Archive Posts</h4>
                        <ul>
                            <li><a href="#">JAN 2023 (5)</a></li>
                            <li><a href="#">FEB 2023 (3)</a></li>
                            <li><a href="#">MAY 2023 (4)</a></li>
                            <li><a href="#">SEP 2023 (4)</a></li>
                            <li><a href="#">DEC 2023 (3)</a></li>
                        </ul>
                    </div>
                    <div class="tag-section">
                        <h4>Tags</h4>
                        <ul>
                            <li><a href="single-news.html">Công dụng hạt điều</a></li>
                            <li><a href="single-news.html">Điều</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end single article section -->